/* General Styles */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}



/* Logo */
.logo{
    width: 150px;
}



/* Container Styles */
.container{
    background-image: linear-gradient(rgba(0, 0, 0, 0.87), rgba(0, 0, 0, 0.918)), url(images/Background/Contact\ 1.jpg);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
}



/* Navbar Styles */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}
.navbar{
    padding: 20px;
}



ul li{
    text-transform: uppercase;
    list-style-type: none;
    display: inline;
    padding: 20px;
}

ul li a{
    color: white;
    text-decoration: none;
    font-weight: 500;
}



/* Welcome Styles */
button{
    background-color: rgb(31, 88, 212);
    padding: 10px;
    border-radius: 5px;
}

a{
    color: white;
    text-decoration: none;
}

#Active{
    color: rgb(59, 116, 238);
}



/* Navbar-Hover Styles */
ul li a:hover{
    color: rgb(59, 116, 238);
    transition: all 2s;
    border-bottom: 2px solid rgb(59, 116, 238);
}

#Active:hover{
    color: white;
    transition: all 1s;
    border-bottom: 2px solid rgb(59, 116, 238);
}

button:hover{
    background-color: white;
    transition: all 1s;
}

a:hover{
    color: rgb(59, 116, 238);
    transition: all 2s;
}


/* Location Styles */
.address{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6px;
    margin: 6px;
}
i:hover{
   transition: 1s;
   color: rgb(59, 116, 238);
   background-color: white;
   cursor: pointer;
}

/* Phone Styles */
.phone{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7px;
    margin: 7px;
}
p{
    color: white;
    font-size: 3em;
    width: 80%;
    line-height: 50px;
    text-align: center;
}
i{
    background-color: rgb(59, 116, 238);
    border-radius: 10px;
    color: white;
    font-size: 3em;
    padding: 20px;
    margin: 20px;
}

/* Bottom-Tag */
.bottom-tag{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(59, 116, 238);
    color: rgb(0, 0, 0);
    width: 80%;
    position: absolute;
    bottom: 0px;
    padding: 10px;
    left: 10em;
    border-left: 8px solid rgb(255, 255, 255);
    border-right: 8px solid rgb(255, 255, 255);
    font-weight: 700;
    font-size: small;
}
